body {font-family: 'Roboto', sans-serif;}



h2 { color: 464646;
}
.description, .rating {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}

ratting

.price {
 color: #f65623 ;
 font-size: 19px;
}