* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

}
body {
    font-family: 'Roboto', sans-serif;}





h2 { color: 464646;
}
.description, .rating {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}


}

.price {
 color: #f65623 ;
 font-size: 19px;
}